.toppage
  .header
    = render "header"
  .header-list
    .header-list__content
      - if user_signed_in?
        .header-list__content--logout
          = link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "header-list__content--logout__btn"
        .header-list__content--mypage
          = link_to "MY PAGE", root_path, class: "header-list__content--mypage__btn"
      - else
        .header-list__content--login 
          = link_to "LOG IN", new_user_session_path, class: "header-list__content--login__btn"
        .header-list__content--new
          = link_to "SIGN IN", new_user_registration_path, class: "header-list__content--new__btn"
  .topimage
    = image_tag "men3.jpg", class: "topimage__img"
  .header-title new workshop shared
  .main
    .main__inner
      .workbox
        - @works.each do |work|
          .workbox__content
            = link_to work_path(work),class:"link-all"  do
              .workbox__content__photo
                = image_tag work.photo.url, class: "workbox__content__photo__img"
              .workbox__content__group
                .workbox__content__group__text
                  %li.workshop__name
                    = work.name
                  .workshop__in
                    .workshop__middle
                      %li.workshop__address
                        = work.address
      = paginate @works
      -# .workbox
      -#   - @works.slice(5..9).each do |work|
      -#     .workbox__content
      -#       = link_to work_path(work),class:"link-all"  do
      -#         .workbox__content__photo
      -#           = image_tag work.photo.url, class: "workbox__content__photo__img"
      -#         .workbox__content__group
      -#           .workbox__content__group__text
      -#             %li.workshop__name
      -#               = work.name
      -#             .workshop__in
      -#               .workshop__middle
      -#                 %li.workshop__address
      -#                   = work.address
      -# .workbox
      -#   - @works.slice(10..14).each do |work|
      -#     .workbox__content
      -#       = link_to work_path(work),class:"link-all"  do
      -#         .workbox__content__photo
      -#           = image_tag work.photo.url, class: "workbox__content__photo__img"
      -#         .workbox__content__group
      -#           .workbox__content__group__text
      -#             %li.workshop__name
      -#               = work.name
      -#             .workshop__in
      -#               .workshop__middle
      -#                 %li.workshop__address
      -#                   = work.address
        -# = paginate @works

  .pagenation
  .bottomimage
    = image_tag "men4.jpg", class: "bottomimage__img"
  .footer
    = render "footer"


  - if user_signed_in?
    .startbtn
      = link_to "play work", new_work_path, method: :get, class: 'startbtn__link'
      .startbtn__text
      .startbtn__icon
        = image_tag "triangle-eye.png", class: "eye"
  - else