.toppage
  .header
  .header-list
    .header-list__content
      .header-list__content--left
        - if user_signed_in?
          .header-list__content--left--logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-list__content--left--logout__btn"
          .header-list__content--left--mypage
            = link_to "マイページ", root_path, class: "header-list__content--left--mypage__btn"
        - else
          .header-list__content--left--login 
            = link_to "ログイン", new_user_session_path, class: "header-list__content--left--login__btn"
          .header-list__content--left--new
            = link_to "新規会員登録", new_user_registration_path, class: "header-list__content--left--new__btn"

  .main
    .main-content1
      .main-content1__inner
        .main-content1__inner__image
        .main-content1__inner__text
          .main-content1__inner__text__work こけだまワークショップ
          .main-content1__inner__text__user 無印良品A店
    .main-content2
      .main-content2__inner
        .main-content2__inner__image
        .main-content2__inner__text
          .main-content2__inner__text__work こけだまワークショップ
          .main-content2__inner__text__user 無印良品A店
  .footer


  - if user_signed_in?
    .purchasebtn-index
      = link_to "開催する", new_work_path, method: :get, class: 'sell-btn link-text'
      .purchasebtn-index__text
      .purchasebtn-index__icon
        -#= image_tag "icon_camera.png", alt: "出品する", class: "purchasebtn-index__icon__camera"
  - else