.show
  .show__box
    .show__box__inner
      .show__box__inner__left
        .work-photo 
          = image_tag @work.photo.url, :size => '500x400', :alt => "画像", :class => "work-photo__img"
        .btn-box
          = link_to edit_work_path(@work), calss: "editBtn" do
            .editBtn__btn EDIT
          = link_to work_path(@work),method: :delete, class: "destroyBtn" do
            .destroyBtn__btn DESTROY
          = link_to work_path(@work),method: :delete, class: "starBtn" do
            .starBtn__btn ★STAR
          -# = link_to work_path(@work),method: :delete, class: "dmBtn" do
          -#   .dmBtn__btn SENDーDM
      .show__box__inner__right
        %h1 ▲WORKSHOP
        .work-name     
          =@work.name
        .work-introduction-sub  ▲CONTENT
        .work-introduction       
          =@work.introduction
        .work-address-sub ▲PLACE
        .work-address      
          =@work.address
        .work-url-sub  ▲URL
        .work-url      
          =@work.url
.footer
  = render "footer"
